# 2.Take input A and B and print their sum, mul, div, square of the nos.

In [4]:
a= int(input("Enter the number :"))
b= int(input("Enter the number :"))

sum=a+b
mul=a*b
div=a/b
a_square=a**2
b_square=b**2


print(f"sum of two numbers is {sum}")
print(f"multiplication of two numbers is {mul}")
print(f"division of two numbers is {div}")
print(f"square of first number is {a_square}")
print(f"square of second number is {b_square}")

Enter the number :10
Enter the number :5
sum of two numbers is 15
multiplication of two numbers is 50
division of two numbers is 2.0
square of first number is 100
square of second number is 25

# 4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [5]:
firstname=input("enter the name :")
lastname=input("enter the name :")
print(f"{lastname}.{firstname}@gmail.com")

enter the name :mohamed
enter the name :shahabas
shahabas.mohamed@gmail.com

# 5.Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [8]:
print("""Hi I'm Sunny
My address is 22/3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily.

# 7.Convert the following -
"22.4" into integer
"22" into complex no.

In [12]:
q="22.4"
s=float(q)
a=int(s)
print(type(a))
c=complex(a)
print(type(c))

<class 'int'>
<class 'complex'>

# 6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [14]:
a=input("Enter your name:")
b=input("Enter your address:")
c=input("Enter your date of birth:")


print(f"student name :{a}")
print(f"student address :{b}")
print(f"student date of birth :{c}")
print(f"student mailid: {a}@gmail.com")

Enter your name:shahabas
Enter your address:tirur
Enter your date of birth:18/01/1994
student name :shahabas
student address :tirur
student date of birth :18/01/1994
student mailid: shahabas@gmail.com

# 3.How many reserve keywords are there in python and why we should not use them as a variable name.

### 33 reserved keywords available in python now. reserve keywords have special meaning to the interpreter, that can be used to define the syntax and structure of programming language.

# 1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [15]:
Print("Hi there") # case sensitive

NameError: name 'Print' is not defined

In [16]:
print "hi there" # misses the brackets

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2450982236.py, line 1)

In [19]:
print("hi
        there")

SyntaxError: unterminated string literal (detected at line 1) (1445969742.py, line 1)

In [20]:
'data'+1 # it should be in same data type

TypeError: can only concatenate str (not "int") to str

In [21]:
f # not defined the variable

NameError: name 'f' is not defined

In [22]:
a,b,c=1 # didnt given the other 2 values to the variables

TypeError: cannot unpack non-iterable int object

In [23]:
a="50.22"
int(a)  ###

ValueError: invalid literal for int() with base 10: '50.22'

In [24]:
b=""
int(b)

ValueError: invalid literal for int() with base 10: ''