In [1]:
pi=22/7

radius=5

circle_area=2*pi*(radius**2)



print(f"the area of the circle is {circle_area}")

the area of the circle is 157.14285714285714

In [2]:
num=1

if num==1:
    print("one")

one

In [3]:
num=int(input("Enter the number:"))

if num%2==0:
    print(f"the number:{num} is even")
else:
    print(f"the number:{num} is odd")

Enter the number:17
the number:17 is odd

In [4]:
x=int(input("Enter the number:"))


if x in range(1,11):
    print(f"the number {x} in between 1 and 10")
else:
    print(f"the number {x}  not in between 1 and 10")

Enter the number:9
the number 9 in between 1 and 10

In [5]:
num=int(input("Enter the number:"))


if num==0:
    print(f"the number :{num} is Zero")
elif num >= 1:
    print(f"the number :{num} is Positive")
else:
    print(f"the number :{num} is Negative")

Enter the number:128
the number :128 is Positive

In [6]:
x=100

while x>=100 and x<=200:
    print(x)
    x=x+2

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [7]:
x=1

if x%2 !=0:
    x=x+1

while x>=1 and x<=20:
    print(x)
    x=x+2

2
4
6
8
10
12
14
16
18
20

In [8]:
s="Helooo"

for char in s:
    print(char)

H
e
l
o
o
o

In [9]:
for i in range(len(s)):
    print(s[i])

H
e
l
o
o
o

In [10]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [11]:
my_list=[10,20.5,"A","America"]

for each in my_list:
    print(each)

10
20.5
A
America

In [13]:
a=[10,20,30,40,50]

sum_A=0
for i in a:
    sum_A=sum_A+i
print(sum_A)

150

In [24]:
l= len(a)
i=0
sum_a=0
while i < l:
    print(a[i])
    
    sum_a=sum_a+a[i]
    i=i+1
print(sum_a)

10
20
30
40
50
150

In [25]:
for i in range(1,11):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [27]:
for i in range(1,11):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [29]:
lis=[1,2,3,4,5]


for i in lis:
    if i==3:
        print(f"{i} found in list")
        break
else:
    print("not in list")

3 found in list

In [33]:
x=10
while x >=1:
    print(x)
    x=x-1
    if x==5:
        
        break
print("out of loop")

10
9
8
7
6
out of loop

In [8]:
x=1

while 10>x:
    
    x=x+1
    if x==5:
        pass
    print(x)
        
print("out of loop")

2
3
4
5
6
7
8
9
10
out of loop

In [9]:
my_lis=list(range(1,11))

ans=list()

for i in my_lis:
    ans.append(i*i)
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
ans=[i*i for i in my_lis if (i*i)%2 !=0]

ans

[1, 9, 25, 49, 81]

In [12]:
my_lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
b=[1, 2, 3, 4, 5, 6, 7+8j, 8, 9, 10+5j]



for i in b:
    if type(i)==complex:
        print(b.index(i))

6
9

In [4]:
my=[["sha"],["abc"],["fgh"]]
num=["qwe",'poi','tyu','zxc']
data=[]
for i in my:
    #print(mylist[i][0])
    for j in num:
        i.append(j)
        
print(my)

[['sha', 'qwe', 'poi', 'tyu', 'zxc'], ['abc', 'qwe', 'poi', 'tyu', 'zxc'], ['fgh', 'qwe', 'poi', 'tyu', 'zxc']]

In [1]:
my=[["sha"],["abc"],["fgh"]]

my[1].append("qwerty")

In [2]:
my

[['sha'], ['abc', 'qwerty'], ['fgh']]